<% messages.forEach((message) => { %>
  <div class="message">
    <div class="message-body">
      <div class="message-sender"><%= message.name %></div>
      <div class="message-bottom">
        <% var s = message.message %>
        <div class="message-text"><%= s[0].toUpperCase() + s.slice(1) %></div>
        <button value="<%= message.id %>" class="btn btn-primary resolve">Resolve</button>
      </div>
    </div>
  </div>
<% }) %>