.chat {
  padding: 1.5em;
  border-radius: 5px;
  border: 1px solid #6c757d;
  height: 26em;
  overflow-x: hidden;
  overflow-y: auto;
  width: 18em;
}

.message {
  margin: 0.5em;
}

.message-sender {
  color: #6c757d;
}

.message-bottom {
  display: flex;
}

.message-text {
  color: white;
  background-color: #17a2b8;
  padding: 0.4em 1em 0.25em 1em;
  border-radius: 20px 20px 20px 0px;
  margin-right: 0.5em;
}

.resolve {
  margin-left: auto;
}

.empty {
  text-align: center;
  color: white;
  background-color: #343a40;
  padding: 0.4em 3em 0.4em 3em;
  border-radius: 5px;
}